.followers-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	width: 80%;
}

.followers-pagination {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 4%;
}

@media screen and (max-width: 850px) {
	.followers-container {
		display: grid;
		grid-template-columns: auto auto;
		justify-content: space-around;
		row-gap: 20px;
	}
}

@media screen and (max-width: 480px) {
	.followers-container {
		display: grid;
		grid-template-columns: auto;
		justify-content: space-around;
		row-gap: 20px;
		width: 90%;
	}
}
