.users {
	width: 100%;
	margin-bottom: 15vh;
}

.users-search {
	text-align: center;
	padding-bottom: 4%;
	width: 100%;
}

.users-container {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: space-around;
	padding-bottom: 15vh;
	padding: 4%;
}

.users-pagination {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 4%;
}

@media screen and (max-width: 500px) {
	.users-container {
		display: grid;
		grid-template-columns: auto auto;
		justify-content: space-around;
		padding-bottom: 15vh;
		padding: 4%;
	}

	.users-pagination {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 4%;
	}
}
