.box {
	border: 1px solid red;
}

.titledetail-container {
	width: 100%;
	align-items: center;
	text-align: center;
	margin: 20px;
}

.titledetail-paper {
	display: inline-block;
	text-align: left;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.titledetail-rating-buttons {
	margin-top: 40px;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.titledetail-info {
	padding: 40px;
	margin-left: 20px;
	display: flex;
	align-items: center;
}

.datos {
	padding-top: 40px;
	display: flex;
	justify-content: center;
}

.titledetail-description {
	margin-top: 40px;
	width: 100%;
}

.titledetail-description-text {
	width: 65%;
	padding: 20px;
}

.comentar {
	margin-top: 40px;
	width: 100%;
	text-align: center;
}

.test {
	padding: 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 65%;
}

.comments {
	margin-top: 40px;
}
