@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");

.bestrated-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 5%;
	padding-bottom: 5%;
}

.bestrated-title {
	font-family: "Work Sans", sans-serif;
	padding-bottom: 5%;
	text-align: center;
	font-size: 3vw;
}

.bestrated-result {
	width: 80%;
}

.bestrated-pagination {
	padding-top: 4%;
	display: flex;
	justify-content: space-around;
}
