.latest-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 15vh;
}

.latest-list {
	width: 80%;
}

.latest-background {
	background-color: rgb(229, 234, 243);
	padding-top: 1%;
	padding-bottom: 1%;
	margin-bottom: 2%;
	width: 100%;
}

.latest-background-2 {
	margin-top: 0%;
	background-color: rgb(229, 234, 243);
	padding-top: 1%;
	padding-bottom: 1%;
	margin-bottom: 2%;
	width: 100%;
}
