.recommendations {
	width: 100%;
}

.recommendations-text {
	text-align: center;
	padding: 2%;
	font-size: 2em;
}

.recommendations-genre {
	text-align: center;
	font-size: 2em;
	background-color: rgb(157, 152, 152);
}

.recommendations-titles {
	display: grid;
	grid-template-columns: 15% 15% 15% 15% 15%;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	padding: 3%;
}
