@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.general-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 15vh;
	width: 100%;
}

.general-title {
	font-family: "Work Sans", sans-serif;
	padding-bottom: 5%;
	text-align: center;
	font-size: 3vw;
	margin-top: 4%;
}

.general-error {
	color: red;
	font-size: 3vw;
	min-height: 70vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@media screen and (max-width: 480px) {
	.general-title {
		font-family: "Work Sans", sans-serif;
		padding-bottom: 5%;
		text-align: center;
		font-size: 6vw;
		margin-top: 4%;
	}
}
