.header {
  height: 7.5em;
  background: url("../../images/header/banner.svg");
  background-position: center center;
  background-size: cover;
  position: relative;
  height: 150px;
}

@media (min-width: 2000px) {
  .header {
    background: url("../../images/header/banner.svg") no-repeat;
    background-position: center center;
    position: relative;
    height: 150px;
  }
}
