.ratings {
	width: 100%;
}

.ratings-titles-container {
	width: 80%;
}

.ratings-grid-container {
	margin-bottom: 5%;
}

.ratings-flex {
	display: flex;
}

.ratings-comment {
	height: 80%;
	width: 100%;
	background-color: rgb(240, 241, 255);
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: left;
}

.ratings-comment-text {
	padding: 10%;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.ratings-comment-text::-webkit-scrollbar {
	display: none;
}

.ratings-paper {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	align-items: center;
	padding: 4%;
	margin-left: -1%;
	z-index: -1;
	background-color: rgb(230, 235, 255);
	padding-left: 5%;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.ratings-number {
	padding-bottom: 2%;
}

@media screen and (max-width: 480px) {
	.ratings-flex {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 55%;
	}
}
