.followers-text {
	text-align: center;
	padding-top: 2%;
	padding-bottom: 4%;
}

.followers-container {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: space-around;
}

.followers-pagination {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 4%;
}
