.userprofile-container {
	display: grid;
	grid-template-columns: auto;
	align-items: center;
	margin-bottom: 15vh;
}

.userprofile-profiledata {
	display: grid;
	grid-template-columns: 20% 60%;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 10vh;
}

.userprofile-image img {
	width: 150px;
	height: 150px;
	position: absolute;
	margin-left: 10%;
	margin-top: 10%;
}

.userprofile-image {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	position: relative;
	background-color: #e3e6ef;
}

.userprofile-data {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 8vw;
	row-gap: 3vh;
	justify-content: space-between;
	font-size: 20px;
	padding: 3%;
	background-color: #f8f9fa;
	border: 1px solid #e3e6ef;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.userprofile-data div:first-child {
	grid-column: 1 / 3;
}

.userprofile-data div span {
	font-weight: bold;
}

.userprofile-fav-pending {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.userprofile-fav-pending h1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5%;
}

.userprofile-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 35vw;
	margin-right: 20vw;
}

.userprofile-buttons button {
	height: 3em;
	width: 9em;
	background-color: #436cf3;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
	margin-top: 30px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.userprofile-buttons:link {
	text-decoration: none;
}

.userprofile-buttons button:hover {
	background-color: #91a9f8;
}

@media screen and (max-width: 480px) {
	.userprofile-image {
		margin-bottom: 30px;
	}

	.userprofile-profiledata {
		display: flex;
		flex-direction: column;
	}

	.userprofile-data {
		width: 80%;
		display: flex;
		flex-direction: column;
	}

	.userprofile-container {
		display: flex;
		flex-direction: column;
	}

	.userprofile-buttons {
		width: 70%;
		display: grid;
		grid-template-columns: 30% 40%;
		align-items: center;
		margin-left: 0%;
		margin-right: 0%;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.userprofile-fav-pending h1 {
		margin-top: 20%;
	}
}

@media screen and (max-width: 850px) {
	.userprofile-image {
		margin-bottom: 30px;
	}

	.userprofile-profiledata {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.userprofile-container {
		display: flex;
		flex-direction: column;
	}

	.userprofile-buttons {
		width: 70%;
		display: grid;
		grid-template-columns: 30% 40%;
		align-items: center;
		margin-left: 0%;
		margin-right: 0%;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.userprofile-fav-pending h1 {
		margin-top: 20%;
	}
}
